<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet-mapping>
        <servlet-name>Top5_retweeted</servlet-name>
        <url-pattern>/Top5_retweeted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top5_mentioned</servlet-name>
        <url-pattern>/Top5_mentioned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top5Followed</servlet-name>
        <url-pattern>/Top5Followed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Get100Twitts</servlet-name>
        <servlet-class>twitter.Get100Twitts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5_retweeted</servlet-name>
        <servlet-class>twitter.Top5_retweeted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5_mentioned</servlet-name>
        <servlet-class>twitter.Top5_mentioned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5Followed</servlet-name>
        <servlet-class>twitter.Top5Followed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get100Twitts</servlet-name>
        <url-pattern>/Get100Twitts</url-pattern>
    </servlet-mapping>
</web-app>
